body {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
  background: linear-gradient(-45deg, #84fab0, #8fd3f4, #a6c1ee, #cfd9df);
  background-size: 300% 300%;
  animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  top: 0;
  padding: 1rem;
  z-index: 99;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid black;
}

header nav {
  display: flex;
  gap: .5rem;
  align-items: center;
  text-align: center;
}

main {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid black;
}

footer p {
  padding: 0 1rem;
}